# requirements.txt
# 主索引
--index-url https://pypi.tuna.tsinghua.edu.cn/simple
# 扩展索引
--extra-index-url https://download.pytorch.org/whl/cu121

keras==3.9.2
visualkeras==0.1.4
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
matplotlib==3.10.3
scipy==1.15.3

seaborn==0.13.2
tqdm==4.67.1
scikit-learn==1.7.2
