# requirements.txt
# 主索引
--index-url https://pypi.tuna.tsinghua.edu.cn/simple
# 扩展索引
--extra-index-url https://download.pytorch.org/whl/cu121


Django==5.2.9
djangorestframework==3.16.1
django-extensions==4.1
djangorestframework-stubs==3.16.6
