# requirements.txt
# 主索引
--index-url https://pypi.tuna.tsinghua.edu.cn/simple
# 扩展索引
--extra-index-url https://download.pytorch.org/whl/cu121


Django==5.2.9
djangorestframework==3.16.1
django-extensions==4.1
djangorestframework-stubs==3.16.6
#pid==3.0.4

django-ipware==7.0.1

colorlog==6.10.1

gunicorn==23.0.0
httptools==0.7.1
uvloop==0.22.1
uvicorn==0.40.0

# pytorch cuda版本
#torch==2.5.1
#torchvision==0.20.1
#torchaudio==2.5.1

# yolo 官方库
#ultralytics==8.3.234

#onnx==1.19.1
#onnxslim==0.1.90
#onnxsim==0.5.0 # python3.10 好装 3.11没装上
onnxruntime==1.23.2

pytest==9.0.3
